{% macro pro_type_to_str(pro_type) %}
{% set pro_type_strs = ['购物中心', '步行街', '星级酒店', '社区商业'] %}
{{ pro_type_strs[pro_type] }}
{% endmacro %}
{% macro print_shop(shop) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <span>铺位信息</span>
        {% if editable %}
        <div class="pull-right">
            <button type="button" class="btn btn-default btn-xs" onclick="add_shop(this)">添加</button>
            <button type="button" class="btn btn-default btn-xs" onclick="del_shop(this)">删除</button>
        </div>
        {% endif %}
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">铺位号</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"
                    value="{{ shop.shop_number if shop }}">

            <span class="input-group-addon" id="basic-addon2"">使用面积</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"
                   value="{{ shop.area if shop }}">
            <span class="input-group-addon" id="basic-addon2">m<sup>2</sup></span>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">租金/售价</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"
                    value="{{ shop.price if shop }}">
            <span class="input-group-addon" id="basic-addon2">m<sup>2</sup></span>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">工程条件</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"
                    value="{{ shop.project_condition if shop }}">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">其它</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"
                    value="{{ shop.others if shop }}">
        </div>
    </div>
</div>
{% endmacro %}
<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        {% include 'include_files.html' %}

        <script type='text/javascript'>
        function add_shop(btn_obj) {
            var shop_panel = $(btn_obj).closest('.panel');
            var shop_panel_clone = shop_panel.clone();
            shop_panel_clone.find('input').val('');
            shop_panel.after(shop_panel_clone);
        }
function del_shop(btn_obj) {
    var shop_panels = $('.panel-body .panel');
    if (shop_panels.length <= 1) {
        return alert("Must contain at least one shop.");
    }
    if (confirm('Do you really want to delete this entry?')) {
        $(btn_obj).closest('.panel').remove();
    }
}
$(function() {
    $('a').click(function() {
        $(this).closest('ul').prev().text($(this).text());
        $(this).closest('ul').prev().prev().text($(this).text());
    })
});
$(document).on('change', '.btn-file :file', function() {
    var btn = $(this);
    /*numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');*/
    var file_list = btn.get(0).files;
    var file_num = file_list.length;
    var filenames_str = '';
    for (var i = 0; i < file_num; i++) {
        filenames_str += file_list[i].name + ';'
    }
    btn.closest('.input-group-btn').prev().val(filenames_str);
    //input.trigger('fileselect', [numFiles, label]);
});
var files_url = new Array();
function upload_file(upload_idx) {
    //upload_idx: 0：项目概念图，1：招商手册
    var files = $('#files' + upload_idx).get(0).files;
    var files_max_num = new Array(3, 1);
    var file_type = new Array('项目概念图', '招商手册');
    if (files.length > files_max_num[upload_idx])
    {
        return alert('最多上传' + files_max_num[upload_idx] + '个' + file_type[upload_idx]);
    }
    console.log(upload_idx, files);
    var form_data = new FormData();
    for (var i in files)
    {
        var name = 'files[' + i + ']';
        form_data.append(name, files[i]);
    }

    $.ajax({
        type:'POST',
        url:'/resources',
        data:form_data,
        /**
         *必须false才会自动加上正确的Content-Type
         */
        contentType:false,
        /**
         * 必须false才会避开jQuery对 formdata 的默认处理
         * XMLHttpRequest会对 formdata 进行正确的处理
         */
        processData:false,
        error: function(jqxhr, text_status, error_thrown) {
            console.log(text_status, error_thrown);
            console.log(jqxhr.responseText);
            $('#bg-danger'+upload_idx).text(jqxhr.responseText);
        },
        success: function(data, text_status, jqxhr) {
            var file_url_array = JSON.parse(jqxhr.responseText);
            files_url[upload_idx] = file_url_array;
            console.log(files_url[upload_idx]);
            var div_id = 'url_list' + upload_idx;
            var div = $('#'+div_id);

            if (div.length == 0)
            {
                div = $('<div class="list-group" top-pad5></div>');
                div.attr('id', div_id);
                var danger = $('#bg-danger'+upload_idx);
                danger.after(div);
                console.log(danger, div);
            }
            for (var i in file_url_array)
            {
                var a = $('<a class="list-group-item"></a>');
                a.attr('href', file_url_array[i]);
                a.text(file_url_array[i]);
                a.appendTo(div);
                console.log(a);
            }
        }
    });
}
/*
   $(document).ready(function() {
   $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
   console.log(numFiles);
   console.log(label);
   });
   });*/
        </script>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">			
                {% include "navigation.html" %}
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                <form class="bs-example bs-example-form" data-example-id="simple-input-groups" name="upload_form">
                    <label class='cus-label'>项目概念图</label><br>
                    {% if editable %}
                    <span>选择上传，格式为JPG、PNG、JPEG、BMP</span>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Select file..." disabled>
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse<input type="file" multiple id="files0">
                            </span>
                            <button class="btn btn-default" type="button" onclick="upload_file(0)">Upload</button>
                        </span>
                    </div>
                    <p class="bg-danger" id="bg-danger0"></p>
                    {% endif %}
                    {% if rent_project %}
                    <div class="list-group top-pad-5" id="url_list0">
                        {% for picture in rent_project.pictures %}
                        <a href="{{ picture }}" class="list-group-item">{{ picture }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <label class='cus-label'>招商手册/宣传手册</label><br>
                    {% if editable %}
                    <span>选择上传，格式为PPT、MP4、WMV</span>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Select file..." disabled>
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">Browse<input type="file" multiple id="files1"></span>
                            <button class="btn btn-default" type="button" onclick="upload_file(1)">Upload</button>
                        </span>
                    </div>
                    <p class="bg-danger" id="bg-danger1"></p>
                    {% endif %}
                    {% if rent_project %}
                    <div class="list-group top-pad-5" id="url_list1">
                        <a href="{{ rent_project.brochure  }}" class="list-group-item">{{ rent_project.brochure }}</a>
                    </div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon">项目名称</span>
                        <input type="text" class="form-control" aria-label="..." value="{{ rent_project.project_name if rent_project }}">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if rent_project %} {{ pro_type_to_str(rent_project.project_type) }} {% else %}类别{% endif %} <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a >购物中心</a></li>
                                <li><a >步行街</a></li>
                                <li><a >星级酒店</a></li>
                                <li><a >社区商业</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--
                        <div class="input-group">
                        <span class="input-group-addon">name</span>
                        <input class="form-control" aria-label="Amount (to the nearest dollar)" type="text">
                        <span class="input-group-addon">.00</span>
                        </div>-->
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">定位</span>
                            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"
                                    value="{{ rent_project.position if rent_project }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">地址</span>
                            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"
                                    value="{{ rent_project.address if rent_project }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">联系人</span>
                            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"
                                    value="{{ rent_project.contacter if rent_project }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">联系方式</span>
                            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"
                                value="{{ rent_project.phone if rent_project }}">
                        </div>

                        {% if editable %}
                        {{ print_shop() }}
                        {% else %}
                        {% for shop in rent_project.shops_info %}
                        {{ print_shop(shop) }}
                        {% endfor %}
                        {% endif %}
                        <p class="bg-danger"></p>
                        {% if editable %}
                        <button type="button" class="btn btn-primary">提交</button>
                        {% endif %}
                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
