<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        {% include 'include_files.html' %}
        <script type='text/javascript'>
            $(function() {
                $('a').click(function() {
                    $(this).closest('ul').prev().text($(this).text());
                });
                $(':checkbox').click(function() {
                    //alert($(this).attr('class'));
                    var class_name = $(this).prop('class');
                    $('.'+class_name).prop('checked', false);
                    $(this).prop('checked', true);
                });
            });
        </script>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">	
                {% include "navigation.html" %}
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                <form class="bs-example bs-example-form" data-example-id="simple-input-groups" name="upload_form">
                    <div class="input-group">
                        <span class="input-group-addon ">
                            <input type="checkbox" aria-label="..." class="rent_or_by">
                            <span>rent</span>
                        </span>
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="..." class="rent_or_by">
                            <span>buy</span>
                        </span>
                        <span>  </span>
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="..." class="wanter_type">
                            <span>p</span>
                        </span>
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="..." class="wanter_type">
                            <span>s</span>
                        </span>
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="..." class="wanter_type">
                            <span>company</span>
                        </span>
                    </div><!-- /input-group -->
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a >Action</a></li>
                                <li><a >Another action</a></li>
                                <li><a >Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a >Separated link</a></li>
                            </ul>
                        </div>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a >Action</a></li>
                                <li><a >Another action</a></li>
                                <li><a >Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a >Separated link</a></li>
                            </ul>
                        </div>
                        <span class="input-group-addon">name</span>
                        <input type="text" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">a</span>
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">m<sup>2</sup></span>
                        <span class="input-group-addon" id="basic-addon2">a</span>
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">m<sup>2</sup></span>					
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">@example.com</span>
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">@example.com</span>
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">@example.com</span>
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <p class="bg-danger"></p>
                    <button type="button" class="btn btn-primary">Primary</button>
                </form>
                        </div>
                    </div>
                    </div>
            </div>
        </div>

    </body>
</html>
