<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form action="/wanted/publish" method="post">
    <input name="is_buy" type="text">is_buy<br>
    <input name="wanter_type" type="text">wanter_type<br>
    <input name="intention_type" type="text">intention_type<br>
    <input name="business_type" type="text">business_type<br>
    <input name="brand_name" type="text">brand_name<br>
    <input name="area" type="text">area<br>
    <input name="intention_price" type="text">intention_price<br>
    <input name="project_demand" type="text">project_demand<br>
    <input name="contacter" type="text">contacter<br>
    <input name="phone" type="text">phone<br>
    <input type="submit">
</form>

</body>
</html>