<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        {% include 'include_files.html' %}
        <script type='text/javascript'>
            $(function() {
                $('a').click(function() {
                    $(this).closest('ul').prev().prev().text($(this).text());
                    $(this).closest('ul').prev().text($(this).text());
                });
                $(':checkbox').click(function() {
                    //alert($(this).attr('class'));
                    var class_name = $(this).prop('class');
                    $('.'+class_name).prop('checked', false);
                    $(this).prop('checked', true);
                });
                {% if wanted_shop %}
                var type_id_map = {
                    '个人': 'personal',
                    '加盟商': 'franchisee',
                    '公司': 'company'
                };
                $('#'+type_id_map['{{ wanted_shop.wanter_type }}']).prop('checked', true);
                {% else %}
                $('#personal').click();
                {% endif %}

                {% if not editable %}
                $('input').attr('disabled', true);
                $('#business_type').attr('disabled', true);
                $('#intention_type').attr('disabled', true);
                {% endif %}

                //$('.rent_or_buy')[{{1 if is_buy else 0}}].click();
            });
            var g_postId = '';
            function publish_want() {
                /*console.log($('#upload_form :input'));
                console.log($('#upload_form input'));
                console.log($('#upload_form').serializeArray());*/
                var form_data = new FormData();
                if (g_postId)
                {
                    form_data.append('id', g_postId);
                }

                var is_buy = 0;
                /*if ($('#buy_cb').prop('checked'))
                {
                    is_buy = 1;
                }*/
                form_data.append('is_buy', is_buy);

                var wanter_types = $('.wanter_type');
                var wanter_type = "个人";
                for (i in wanter_types)
                {
                    if (wanter_types[i].checked)
                    {
                        wanter_type = $(wanter_types[i]).next().text();
                    }
                }
                form_data.append('wanter_type', wanter_type);

                var args = new Array('intention_type', 'business_type', 'brand_name', 'area', 'intention_price',
                'project_demand', 'contacter', 'phone');

                for (i in args)
                {
                    var value = ''
                    value = $('#' + args[i]).text();
                    if (!value)
                    {
                        value = $('#' + args[i]).val();
                    }
                    console.log('appends: ', args[i], value);
                    if (args[i] == 'intention_type' && value.trim() == '意向类型')
                    {
                        $('.bg-danger').text('请选择意向类型');
                        return ;
                    }
                    else if (args[i] == 'business_type' && value.trim() == '经营类型')
                    {
                        $('.bg-danger').text('请选择经营类型');
                        return ;
                    }
                    form_data.append(args[i], value);
                }
                console.log(form_data);

                $.ajax({
                    type:'POST',
                    url:'/wanted/publish',
                    data:form_data,
                    /**
                     *必须false才会自动加上正确的Content-Type
                     */
                    contentType:false,
                    /**
                     * 必须false才会避开jQuery对 formdata 的默认处理
                     * XMLHttpRequest会对 formdata 进行正确的处理
                     */
                    processData:false,
                    error: function(jqxhr, text_status, error_thrown) {
                        console.log(text_status, error_thrown);
                        console.log(jqxhr.responseText);
                        var response = jqxhr.responseText;
                        var error_msg_map = {
                            'brand_name': '品牌名称不能大于10个字符',
                            'intention_type': '意向类型不能大于20个字符',
                            'business_type': '经营类型不能大于10个字符',
                            'area': '使用面积不能为空且不能大于20个字符',
                            'project_demand': '工程需求不能大于50个字符',
                            'contacter': '联系人不能为空且长度应在1－50之间',
                            'phone': '联系方式不能为空且长度应在1－50之间',
                        };

                        for (var i in error_msg_map)
                        {
                            if (response.search(i) >= 0)
                            {
                                $('.bg-danger').text(error_msg_map[i]);
                            }
                        }
                    },
                    success: function(data, text_status, jqxhr) {
                        console.log(jqxhr.responseText);
                        g_postId = jqxhr.responseText;
                        $('.bg-danger').text('');
                        alert('上传成功，您可继续编辑');
                    }
                });
            }

        </script>
    </head>
    <body>
    <div class="panel panel-default">
        <div class="panel-heading">
            {% include "navigation.html" %}
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="bs-example bs-example-form" data-example-id="simple-input-groups" name="upload_form" id="upload_form">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="..." class="wanter_type" id="personal">
                                <span>个人</span>
                            </span>
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="..." class="wanter_type" id="franchisee">
                                <span>加盟商</span>
                            </span>
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="..." class="wanter_type" id="company">
                                <span>公司直营</span>
                            </span>
                            <!--
                            <span></span>
                                <span class="input-group-addon hide">
                                    <input type="checkbox" aria-label="..." class="rent_or_buy" value="0" {% if wanted_shop and not wanted_shop.is_buy %}checked="checked" {% endif %}>
                                    <span>承租</span>
                                </span>
                                <span class="input-group-addon hide">
                                    <input type="checkbox" aria-label="..." class="rent_or_buy" id="buy_cb" value="1" {% if wanted_shop and wanted_shop.is_buy %}checked="checked" {% endif %}>
                                    <span>购买</span>
                                </span>
                            -->
                            </div><!-- /input-group -->
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" id="intention_type" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if wanted_shop %} {{ wanted_shop.intention_type }} {% else %}意向类型{% endif %}<span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a >购物中心</a></li>
                                        <li><a >步行街</a></li>
                                        <li><a >星级酒店</a></li>
                                        <li><a >社区商业</a></li>
                                    </ul>
                                </div>
                                <div class="input-group-btn">
                                    <button type="button" id="business_type" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if wanted_shop %} {{ wanted_shop.business_type }} {% else %}经营类型{% endif %}<span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a >零售</a></li>
                                        <li><a >专卖</a></li>
                                        <li><a >餐饮</a></li>
                                        <li><a >娱乐</a></li>
                                        <li><a >生活服务</a></li>
                                        <li><a >银行</a></li>
                                        <li><a >金融</a></li>
                                    </ul>
                                </div>
                                <span class="input-group-addon">品牌名称</span>
                                <input id="brand_name" type="text" class="form-control" aria-label="..." value="{{ wanted_shop.brand_name if wanted_shop }}">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">使用面积</span>
                                <input id="area" type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" value="{{ wanted_shop.area if wanted_shop }}">
                                <span class="input-group-addon" id="basic-addon2">m<sup>2</sup></span>
                                <span class="input-group-addon must-have">*</span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">意向价格</span>
                                <input id="intention_price" type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" value="{{ wanted_shop.intention_price if wanted_shop }}">
                                <span class="input-group-addon" id="basic-addon2">￥/m<sup>2</sup></span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">工程需求</span>
                                <input type="text" id="project_demand" class="form-control" placeholder="" aria-describedby="basic-addon2" value="{{ wanted_shop.project_demand if wanted_shop }}">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">联系人</span>
                                <input id="contacter" type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" value="{{ wanted_shop.contacter if wanted_shop }}">
                                <span class="input-group-addon must-have">*</span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">联系方式</span>
                                <input id="phone" type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"
                                                                                                  value="{{ wanted_shop.phone if wanted_shop }}">
                                <span class="input-group-addon must-have">*</span>
                            </div>
                            <div class="input-group">
                                <p class="bg-danger"></p>
                            </div>
                            {% if editable %}
                            <button type="button" class="btn btn-primary" onclick="publish_want()">提交</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>
