<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title></title>
        {% include 'include_files.html' %}
        <script type="text/javascript">
        var g_get_args = '';

        function replace_arg(arg_name, arg_value) {
                var pattern = RegExp(arg_name + '=[^&]*&', 'g');
                var new_str = arg_name + '=' + arg_value + '&';
                var test_result = pattern.test(g_get_args);

                if (test_result) {
                    g_get_args = g_get_args.replace(pattern, new_str);
                } else {
                    g_get_args += new_str;
                }
        }

function city_filter(city_idx) {
}
function area_filter(area_idx) {
    var idx_val_map = [
        [0, 100],
        [100, 500],
        [500, 1000],
        [1000, 0]
    ];
    replace_arg('min_area', idx_val_map[area_idx][0]);
    replace_arg('max_area', idx_val_map[area_idx][1]);
}
function price_filter(price_idx) {
    var idx_val_map = [
        [0, 50],
        [50, 300],
        [300, 800],
        [800, 1500],
        [1500, 0]
    ];
    replace_arg('min_price', idx_val_map[price_idx][0]);
    replace_arg('max_price', idx_val_map[price_idx][1]);
}
function sort_filter(sort_idx) {
    var idx_val_map = [
        // order_by, incr
        [1, 1],
        [1, 0],
        [2, 1],
        [2, 0]
    ];
    replace_arg('order_by', idx_val_map[sort_idx][0]);
    replace_arg('incr', idx_val_map[sort_idx][1]);
}
function invest_filter(invest_idx) {
    var idx_val_map = [
        '百货超市',
        '零售餐饮',
        '娱乐休闲',
        '银行金融',
        '专业服务',
        '其它'
    ];
    replace_arg('invest', idx_val_map[invest_idx]);
}
 selector_func_map = {
    'city-selector': city_filter,
    'area-selector': area_filter,
    'price-selector': price_filter,
    'sort-selector': sort_filter,
    'invest-selector': invest_filter,
};

function li_selected() {
    var parent_id = $(this).parent().attr('id');
    console.log(parent_id);
    if (parent_id in selector_func_map)
    {
        selector_func_map[parent_id]($(this).index());
        $(this).closest('ul').prev().text($(this).text());
        $(this).closest('ul').prev().prev().text($(this).text());
    }
    refresh_result();
}
function refresh_result() {
    console.log(g_get_args);
    var url = "/rent/search?html=1&key=" + $('#search_key').val() + '&' + g_get_args;
    console.log(url);
    $.get(url, function(result) {
        $('#result_container').html(result);
    });
}
$(function(){
    $('li').click(li_selected);
    {% autoescape false %}
    $.get("/rent/search?html=1&is_sell={{ 1 if is_sell else 0 }}&{{keys}}", function(result){
        $("#result_container").html(result);
    });
    {% endautoescape %}
});
        </script>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">	
                {% include "navigation.html" %}
            </div>

            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="输入搜索关键字，第一个字段可为城市名" id="search_key">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="refresh_result()">搜索</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <!--
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    省市 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="city-selector">
                                </ul>
                            </div>
                            -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    面积 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="area-selector">
                                    <li><a>100m<sup>2</sup>以下</a></li>
                                    <li><a>100m - 500m<sup>2</sup></a></li>
                                    <li><a>500m - 1000m<sup>2</sup></a></li>
                                    <li><a>1000m<sup>2</sup>以上</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    价格 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="price-selector">
                                    <li><a>50元/m<sup>2</sup>以下</a></li>
                                    <li><a>50 - 300元/m<sup>2</sup></a></li>
                                    <li><a>300 - 800元/m<sup>2</sup></a></li>
                                    <li><a>800 - 1500元/m<sup>2</sup></a></li>
                                    <li><a>1500元/m<sup>2</sup>以上</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    招商对象<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="invest-selector">
                                    <li><a>百货超市</a></li>
                                    <li><a>零售餐饮</a></li>
                                    <li><a>娱乐休闲</a></li>
                                    <li><a>银行金融</a></li>
                                    <li><a>专业服务</a></li>
                                    <li><a>其它</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    排序<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="sort-selector">
                                    <li><a>价格从低到高</a></li>
                                    <li><a>价格从高到低</a></li>
                                    <li><a>使用面积从小到大</a></li>
                                    <li><a>使用面积从大到小</a></li>
                                </ul>
                            </div>
                            <!--
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    更多<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu pull-left">
                                        <a tabindex="-1" href="#">排序</a>
                                        <ul class="dropdown-menu" id="sort-selector">
                                            <li><a>价格从低到高</a></li>
                                            <li><a>价格从高到低</a></li>
                                            <li><a>使用面积从小到大</a></li>
                                            <li><a>使用面积从大到小</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu pull-left">
                                        <a tabindex="-1" href="#">招商对象</a>
                                        <ul class="dropdown-menu" id="invest-selector">
                                            <li><a>百货超市</a></li>
                                            <li><a>零售餐饮</a></li>
                                            <li><a>娱乐休闲</a></li>
                                            <li><a>银行金融</a></li>
                                            <li><a>专业服务</a></li>
                                            <li><a>其它</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                            -->

                            <!--
                                <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                排序<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                <li><a>价格从低到高</a></li>
                                <li><a>价格从高到高</a></li>
                                <li><a>使用面积从小到大</a></li>
                                <li><a>使用面积从大到小</a></li>
                                </ul>
                                </div>
                                <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                招商对象 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                <li><a>百货超市</a></li>
                                <li><a>零售餐饮</a></li>
                                <li><a>娱乐休闲</a></li>
                                <li><a>银行金融</a></li>
                                <li><a>专业服务</a></li>
                                <li><a>其它</a></li>
                                </ul>
                                </div>
                            -->
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12" id="result_container">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
