<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% include 'include_files.html' %}
    <script type="text/javascript">
        var g_get_args = '';

        function replace_arg(arg_name, arg_value) {
                var pattern = RegExp(arg_name + '=[^&]*&', 'g');
                var new_str = arg_name + '=' + arg_value + '&';
                var test_result = pattern.test(g_get_args);

                if (test_result) {
                    g_get_args = g_get_args.replace(pattern, new_str);
                } else {
                    g_get_args += new_str;
                }
        }

function is_buy_filter(idx) {
    var idx_val_map = [1, 0];
    replace_arg('is_buy', idx_val_map[idx]);
}
function area_filter(area_idx) {
    var idx_val_map = [
        [0, 100],
        [100, 500],
        [500, 1000],
        [1000, 0]
    ];
    replace_arg('min_area', idx_val_map[area_idx][0]);
    replace_arg('max_area', idx_val_map[area_idx][1]);
}
function wanter_filter(idx) {
    var idx_val_map = ['个人', '加盟商', '公司直营'];
    replace_arg('wanter', idx_val_map[idx]);
}
function intention_filter(idx) {
    var idx_val_map = ['购物中心', '步行街', '星级酒店', '社区商业'];
    replace_arg('intention', idx_val_map[idx]);
}
function business_filter(idx) {
    var idx_val_map = ['零售', '专卖', '餐饮', '娱乐', '生活服务', '银行', '金融'];
    replace_arg('business', idx_val_map[idx]);
}
var selector_func_map = {
    'is-buy-selector': is_buy_filter,
    'area-selector': area_filter,
    'wanter-selector': wanter_filter,
    'intention-selector': intention_filter,
    'business-selector': business_filter,
};

function li_selected() {
    var parent_id = $(this).parent().attr('id');
    if (parent_id in selector_func_map)
    {
        selector_func_map[parent_id]($(this).index());
        $(this).closest('ul').prev().text($(this).text());
        $(this).closest('ul').prev().prev().text($(this).text());
    }
}
function refresh_result() {
    console.log(g_get_args);
    var url = "/wanted/search?html=1&key=" + $('#search_key').val() + '&' + g_get_args;
    console.log(url);
    $.get(url, function(result) {
        $('#result_container').html(result);
    });
}
$(function(){
    $('li').click(li_selected);
    $.get("/wanted/search?html=1", function(result){
        $("#result_container").html(result);
  });
});
        </script>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">
        {% include "navigation.html" %}
    </div>

    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." id="search_key">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="refresh_result()">Search</button>
                                </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <!--
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            省市 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="is-buy-selector">
                        </ul>
                    </div>
                    -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            意向 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="is-buy-selector">
                            <li><a>购买</a></li>
                            <li><a>承租</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            面积 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="area-selector">
                            <li><a>100m<sup>2</sup>以下</a></li>
                            <li><a>100m - 500m<sup>2</sup></a></li>
                            <li><a>500m - 1000m<sup>2</sup></a></li>
                            <li><a>1000m<sup>2</sup>以上</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            营运 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="wanter-selector">
                            <li><a>个人</a></li>
                            <li><a>加盟商</a></li>
                            <li><a>公司直营</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            目标<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="intention-selector">
                            <li><a>购物中心</a></li>
                            <li><a>步行街</a></li>
                            <li><a>星级酒店</a></li>
                            <li><a>社区商业</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            经营<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="business-selector">
                            <li><a>零售</a></li>
                            <li><a>专卖</a></li>
                            <li><a>餐饮</a></li>
                            <li><a>娱乐</a></li>
                            <li><a>生活服务</a></li>
                            <li><a>银行</a></li>
                            <li><a>金融</a></li>
                        </ul>
                    </div>
                    <!--

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            更多<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu pull-left">
                                <a tabindex="-1" href="#">营运</a>
                                <ul class="dropdown-menu" id="wanter-selector">
                                    <li><a>个人	</a></li>
                                    <li><a>加盟商</a></li>
                                    <li><a>公司直营</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu pull-left">
                                <a tabindex="-1" href="#">目标</a>
                                <ul class="dropdown-menu" id="intention-selector">
                                    <li><a>购物中心</a></li>
                                    <li><a>步行街</a></li>
                                    <li><a>星级酒店</a></li>
                                    <li><a>社区商业</a></li>
                                </ul>
                            </li>
			　　　　<li class="dropdown-submenu pull-left">
                                <a tabindex="-1" href="#">经营</a>
                                <ul class="dropdown-menu" id="business-selector">
                                    <li><a>零售</a></li>
                                    <li><a>专卖</a></li>
                                    <li><a>餐饮</a></li>
                                    <li><a>娱乐</a></li>
                                    <li><a>生活服务</a></li>
                                    <li><a>银行</a></li>
                                    <li><a>金融</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    -->

                    <!--
                        <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        排序<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                        <li><a>价格从低到高</a></li>
                        <li><a>价格从高到高</a></li>
                        <li><a>使用面积从小到大</a></li>
                        <li><a>使用面积从大到小</a></li>
                        </ul>
                        </div>
                        <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        招商对象 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                        <li><a>百货超市</a></li>
                        <li><a>零售餐饮</a></li>
                        <li><a>娱乐休闲</a></li>
                        <li><a>银行金融</a></li>
                        <li><a>专业服务</a></li>
                        <li><a>其它</a></li>
                        </ul>
                        </div>
                    -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12" id="result_container">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
